{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-md-8 col-sm-12 col-xs-12">
			<video-js width="720" height="405" controls data-setup='{"playbackRates": [0.5, 1, 1.5, 2], "fluid": true}'>
				<source src="/media/{{ object.video_file }}" type="video/mp4">
				<p class="vjs-no-js">
					To view this video please enable Javascript, and consider upgrading to a web browser that <a
						href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
			</video-js>
			<h5 class="mt-4 border-bottom">{{ object.title }}</h5>
			
			<div class="row border-bottom">
				<div class="col-md-6 text-muted">
					<p>{{ object.date_posted | date:"M d, Y" }}</p>
				</div>
			</div>
			<div class="col text-left">
				{% if object.uploader == user %}
				<a class="video-icons icon-color" href="{% url 'video-update' object.pk %}"><i class="fas fa-edit"></i></a>
				<a class="video-icons icon-color" href="{% url 'video-delete' object.pk %}"><i class="fas fa-trash"></i></a>
				{% endif %}
				<!-- comment toggle -->
				<button class="remove-default-btn video-icons">
					<i class="fas fa-comment " onclick="commentToggle()"></i>
				</button>
				<!--  -->
				<!-- Share content -->
				<button type="button" class=" btn video-icons" data-bs-toggle="modal" data-bs-target="#shareModal">
					<i class="fas fa-share"></i>
				</button>
			</div>
			  
			<!-- Modal -->
			<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
				  	<div class="modal-content">
						<div class="modal-header">
					  	<h5 class="modal-title" id="shareModalLabel">Share videos</h5>
					  	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
					  <!-- Social Icons -->
					  	<div class="row text-center">
							<div class="col">
								<a href="https://twitter.com/intent/tweet?url=http://localhost:8000/videos/{{ object.pk }}" class="text-decoration-none">
									<i class="fab fa-twitter fa-2x"></i>
								</a>
							</div>
							<div class="col">
							<a href="https://api.whatsapp.com/send?text=http://localhost:8000/videos/{{ object.pk }}" class="text-decoration-none">
								<i class="fab fa-whatsapp fa-2x"></i>
							</a>
							</div>
							<div class="col">
								<a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:8000/videos/{{ object.pk }}" class="text-decoration-none">
									<i class="fab fa-facebook fa-2x"></i>
								</a>
							</div>
							<div class="col">
								<a href="https://www.reddit.com/submit?url=http://localhost:8000/videos/{{ object.pk }}" class="text-decoration-none">
									<i class="fab fa-reddit fa-2x"></i>
								</a>
							</div>
					  	</div>
					</div>
				  </div>
				</div>
			  </div>

			<!--  -->
			<!-- comment form -->
			<div class="row justify-content-center mt-3 mb-5 d-none" id="comment-reply-form">			
				<div class="col-md-8 col-sm-12">
					{% if user.is_authenticated %}
					<form method="POST">
						{% csrf_token %}
						{{ form | crispy }}
						<button class="btn btn-success btn-block">Post</button>
					</form>
					{% else %}
					<a class="btn btn-outline-info btn-block" href="{% url 'account_login' %}">
						Sign In To Post aComment!
					</a>
					{% endif %}
				</div>
			</div>
			{% for comment in comments %}
			<div class="row mt-3">
				<div class="col-md-8 col-sm-12 border-bottom">
					<h5>{{ comment.user }} comment:
						<p>
							{% if user.is_authenticated and comment.user == user %}
							<a class="video-icons icon-color" href="{% url 'delete-comment' comment.pk %}"><i class="fas fa-trash"></i></a>
							{% endif %}
						</p>
					</h5>
					<p>{{ comment.comment }}</p>	
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
    function commentToggle() {
        const commentForm = document.getElementById('comment-reply-form');
        if (commentForm.classList.contains('d-none')) {
            commentForm.classList.remove('d-none');
        } else {
            commentForm.classList.add('d-none');
        }
    }
</script>
{% endblock content %}